# $Id$
#
# this file contains configuration examples for imapbackup.
#
# the configuration file consists of sections, led by a 
# "[section]" header and followed by "name: value" entries.
# note that leading whitespace is removed from values.
# lines beginning with "#" or ";" are ignored and may be used
# to provide comments.
#
# imapbackup can handle multiple accounts. each account has a
# section with a unique name. for each account, the
#    - imapserver     imap server
#    - imapuser       imap user
#    - imappassword   imap password
#    - maildir        path to the maildir
# entries must be given. 
# other entries are optional:
#    - imapport       imap port (default: 993)
#    - imapssl        use imap ssl (default: true)
#    - imapfilter     filter imap folders (default: no filtering)
#    - logger         set logger (default: syslog)
#    - logfile        file to log to, if filelogger is select
#    - loglevel       set logging level (default: error)
#
# logging:
# with the option 'logger' one or more loggers can be specified,
# separated with a comma.
# but only one logger of a type is allowed for an account.
# available loggers:
#    - syslog         logs to syslog
#    - file           log to a file which must be specified using
#                     'logfile: <filename>'
# available log levels:
#    - debug
#    - info
#    - warn
#    - error
#    - critical
#

[account 1]
imapserver:     imap.server
imapuser:       username
imappassword:   secret
imapfilter:     ^INBOX

maildir:        ~/Maildir_1

logger:         syslog
loglevel:       warn



[account 2 (outbox only)]
imapserver:     another.server
imapport:       143
imapuser:       username_2
imappassword:   terces
imapssl:        false
imapfilter:     outbox

maildir:        ~/Maildir_2

logger:         file, syslog
logfile:        ~/.imapbackup.log
loglevel:       debug

